*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.esas{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.esas > div{
    width: 400px;
    height: 400px;
    background-color: blue;
}
form{
    width: 100%;
    height: 100%;
    /* display: flex; */
}
img{
    width: 100%;
    height: 100%;
}
p{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    position: relative;
    color: rgb(255, 196, 0);
}
p::after{
    content:"" ;
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: orange;
    top: 25px;
}
input{
    width: 172px;
    padding: 10px;
    margin: 5px 0px;
}
select{
    padding: 10px;
}
button{
    background-color: orange;
    padding: 10PX 140PX;
    border: 0PX;
    color: white;
}
.div{
    padding: 20px;
}
h1{
    color: white;
}
.item1{
    position: relative;
}
.pause{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 160px; 
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.animation{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 150px; 
    z-index: 1;
    background-color: rgba(255, 166, 0, 0.507);
    animation-name: example;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transform: scale(1);

}
@keyframes example {
    /* from {width: 60px; height: 60px;}
    to {width: 110px;height: 110px;} */
    from{transform: scale(1);}
    to {transform: scale(0);}
  }