*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.esas{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esas > div{
    width: 400px;
    height: 350px;
    background-color: blue;
}
form{
    width: 100%;
    height: 100%;
    /* display: flex; */
}
img{
    width: 100%;
    height: 100%;
}
p{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    position: relative;
    color: rgb(255, 196, 0);
}
p::after{
    content:"" ;
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: orange;
    top: 25px;
}
input{
    width: 172px;
    padding: 10px;
    margin: 5px 0px;
}
select{
    padding: 10px;
}
button{
    background-color: orange;
    padding: 10PX 140PX;
    border: 0PX;
    color: white;
}
.div{
    padding: 20px;
}
h1{
    color: white;
}
.item1{
    position: relative;
}
.pause{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 160px;
    background-color: orange;
}